body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;

}

.spinner {
    border: 3px solid rgba(255,255,255,0.3);
    border-top: 3px solid #fff;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}


h2 {
    color: #333;
    margin-bottom:40px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensures padding is included in the width */
    margin-bottom:20px;
}


label {
    text-align: left;
    display: block;
    font-weight: bold;
    margin-bottom: -5px;
}

.btn {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top:10px;
}

.btn:hover {
    background: #0056b3;
}

.login-image {
    width: 100px; /* Adjust as needed */
    height: auto;
    display: block;
    margin: 0 auto 15px; /* Centers the image and adds space below */
}

.register-link {
    margin-top: 15px;
    font-size: 14px;
}

.register-link a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}

.alert-success {
    background-color: #c1ffce;
    color: #155724;
    border: 1px solid #003b0e;
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
}

.alert-danger {
    background-color: hsl(0, 100%, 94%);
    color: #ff0000;
    border: 1px solid #ff0000;
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
}


